{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include '@SyliusAdmin/shared/crud/common/sidebar.html.twig' %}
    {% include '@SyliusAdmin/shared/crud/common/navbar.html.twig' %}

    <div class="page-wrapper">
        {% include '@SyliusAdmin/shared/crud/common/content/flashes.html.twig' %}

        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="page-title">{{ title }}</h1>
                        <div class="text-muted mt-1">{{ description }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="card-title">{{ section }}</h2>
                                <div class="text-muted">Le sous-menu est prêt. La configuration détaillée sera branchée ici.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include '@SyliusAdmin/shared/crud/common/content/footer.html.twig' %}
    </div>
{% endblock %}
